.nav {
  /* background-color: linear-gradient(25deg , silver , gray); */
  background-color: #cddbe2;
  color: black;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.col {
  display: inline-flex;
  align-items: center;
  background-color: white;
  height: 30px;
}

.list {
  display: flex;
  align-items: center;
}

.items {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  margin-left: auto;
  background-color: #cddbe2;
  font-weight: 700;
}

.bar {
  display: flex;
  align-items: center;
}

.crt {
  cursor: pointer;
  margin-right: 20px;
}

.srch {
  height: 30px;
  width: 300px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 5px;
  color: black;
}

/* .btn {
   padding-left: 10px;
   padding-right: 10px;
  } */

.opt {
  background-color: white;
  padding: 5px;
  padding-right: 5px;
}

.opt:hover {
  border-bottom: 2px solid black;
  padding: 4px;
  top: 10px;
}

.open {
  display: none;
}
.close {
  display: none;
}
.sidebar {
  display: none;
}

@media (max-width: 640px) {
  .list {
    position: absolute;
    height: 190vh;
    right: 0;
    width: 60vw;
    position: fixed;
    color: black;
    display: flex;
    margin-top: 250px;
    /* padding-right: 100px; */
    background-color:#cddbe2;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-shadow: -2px 0 5px rgb(47, 47, 48);
    transition: 0.5s ease-in;
    z-index: 2;
  }

  .items{
    background-color: #cddbe2;
    color: black;
  }


  .opt:hover {
    background-color:#cddbe2;
  }

  /* 
      .name {
        position: absolute;
        right: 0;
        top: 40px;
        width: 60vw;
        display: block;
        justify-items: center;
        align-items: flex-end;
      } */

  .open {
    display: block;
    margin-left: auto;
    padding-right: 20px;
  }
  .close {
    display: block;
    margin: 30px;
  }
  .sidebar {
    display: none;
  }

  .col {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  .items {
    display: flex;
    flex-direction: column;
    background-color: #cddbe2;
  }

  .opt {
    background-color: #cddbe2;
    padding: 20px;
    width: 60vw;
  }

  .name {
    padding-left: 17vw;
    padding-right: 30vw;
    font-weight: 700;
    background-color: #cddbe2;    
    /* margin-left: auto; */
  }

  .sidebar:checked ~ .list {
    display: none;
  }
}
